{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<title>Krohne group</title>
<link rel="stylesheet" href="{% static 'css/forget.css' %}">
</head>
<body>
  <div class='forget-page'>
    <div class='form'>
      <img src='https://s10.postimg.org/6jf9tkbix/Krohne.jpg'  alt='Krohne'/>
  <form action='/signin' method='GET' class="forget-form">
      <input type="email"  name='email' placeholder="email adress" required/>
    <h4 name='error'></h4>
      <button type='submit'>Send my password</button>
      <p class="message">Not registered yet? <a href="#">Create an account</a></p>
    </form>
    </div>
  </div>
</div>
</body>
</html>
</body>
</html>